* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
  font-family: sans-serif;
}
.item {
  display: flex;
  color: wheat;
  font-size: 25px;
  font-weight: bold;
  background-color: tomato;
  width: 100px;
  justify-content: center;
}

.item:nth-child(odd) {
  background-color: cornflowerblue;
}
